<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<link href="css/general.css" rel="stylesheet" media="screen">
</head>

<body>
	<div id="textArea" class="frontStyle">
	</div>
	<div>
		<input id="input" type="text"></input>
	</div>

	<script type="text/javascript" src="js/lib/socket.io.min.js"></script>
	<script type="text/javascript" src="js/dev.js"></script>

</body>

</html>