<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<link href="../css/general.css" rel="stylesheet" media="screen">
</head>

<body>
	<div>
		<button id="newButton">new</button>
	</div>
	<div id="plumbContainer">
	</div>

	<script type="text/javascript" src="../js/socket.io.min.js"></script>
	<script type="text/javascript" src="../js/jquery-1.9.0-min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui-1.9.2-min.js"></script>
	<script type="text/javascript" src="../js/jquery.jsPlumb-1.5.0-min.js "></script>
	<script type="text/javascript" src="../js/dev_xml_scripts.js"></script>
</body>

</html>