<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<link href="../css/general.css" rel="stylesheet" media="screen">
</head>

<body>
	

	<script type="text/javascript" src="../js/socket.io.min.js"></script>
	<script type="text/javascript" src="../js/dev_xml_scripts.js"></script>

</body>

</html>