<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<link href="css/general.css" rel="stylesheet" media="screen">
</head>

<body>
	<div class="frontStyle">
		<h1><%= title%></h1>
		<img id="img" src="img/under_construction.jpg">
	</div>
</body>

</html>