<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<link href="public/css/general.css" rel="stylesheet" media="screen">
	<style type="text/css">
		body{
			background: url('public/img/bg_star.jpg') no-repeat;
			background-size: cover;
			-webkit-background-size:cover;
			-moz-background-size: cover;
			-o-background-size: cover;
		}
	</style>
</head>

<body>
	<div class="frontStyle" text-align="center">
		<h1><%= title%></h1>
		<img id="img" src="public/img/under_construction.jpg">
		<div margin-top="200px">
			<h1 top="150%" position="relative">To forever</h1>
		</div>
	</div>
</body>

</html>