#demo {
	margin-top:5em;
}





#opened {
	left:10em;
	top:5em;
}

#phone1 {
	left:35em;
	top:12em;
	width:7em;
}
#inperson {
	left:12em;
	top:23em;
}
#phone2 {
	left:28em;
	top:24em;
}
#rejected {
	left:10em;
	top:35em;
}
