/** OPEN SANS FONT **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
 	src:local('Open Sans'), 
 		local('OpenSans'),
 		url("OpenSans-Regular.ttf") format('truetype'),
 		url("OpenSans.woff") format('woff'); 		
}

body {
    padding:0;
    margin:0;
    background-color:gray;    
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;    
}

#sidebar{
	background-color: black;
	opacity: 0.8;
	position: fixed;
	height: 100%;
	width: 10%;
	top: 0;
	left: 0;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	z-index: 0;
}
#nameTag{
	font-size: inherit;
	height: 10%;
	text-align: center;
}
#name{
	height: 5%;
	top: 10%;
	position: relative;
}
#reminder{
	height: 5%;
	top: 50%;
	color: red;
	position: relative;
}
#time{
	height: 5%;
	top: 50%;
	position: relative;
}
#name a, a:visited {
	right: 2px;
	float: right;
    text-decoration:underline;
    color:#5c96bc;        
    border-radius:0.2em;
    -webkit-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in;
}

#name a:hover {
    color:#1b911b;
    cursor: pointer;
}

#plumbContainer{
	background-color: gray;
	position: absolute;
	left: 10%;
	width: 90%;
	height: 100%;
	z-index: -1;
	overflow: auto;
}
.module{
	width: 80%;
	min-width: 80%;
	max-width: 80%;
	text-align: center;
	padding:1em;
	position:relative;
	border: 1px solid black;
	z-index:1;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:12px;
	font-style: tahoma;
	color: black;

	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
}
.module:hover{
	background-color: #5c96bc;
	color:white;
}
.start{
	background-color: rgb(60,220,50);
	max-width: 40%;
}
.node{
	background-color: white;
	max-width: 30%;
}
.branch{
	background-color: rgb(240,240,0);
	max-width: 16%;
}
.end{
	background-color: rgb(30,200,200);
	max-width: 80%;
}
.w { 
	width:auto;
	min-width: 5px;
	padding:1em;
	position:absolute;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	/*background-color:white;*/
	color: black;
	font-size:12px;
	font-style: Tahoma;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
}

.w:hover {
	background-color: #5c96bc;
	color:white;

}

.ep {
	float: right;
	position:relative;
	bottom: -1px;
	right: -5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.dragHover { border:2px solid orange; }

._jsPlumb_endpoint {
	z-index:3;
}
._jsPlumb_drag_select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none
}


.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
}

path { cursor:pointer; }